body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.not-front {
    padding-top: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    font-size: 13px;
    max-width: 280px;
}

.btn,
.form-control {
    padding: 3px 5px;
    line-height: 22px;
    height: 30px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.jumbotron h1 {
    font-size: 32px;
    font-weight: bold;
    margin-top: -10px;
    padding-bottom: 10px;
}

.table-label {
    font-weight: normal;
    margin-top: -5px;
}

.panel-table {
    margin-bottom: 0;
}

.panel-table tr:first-child td {
    border-top: none;
}

.table th.lvsep,
.table td.lvsep {
    border-left: solid 1px #ddd;
}

.table-figures th {
    text-align: center;
}

.table-figures td:first-child {
    text-align: left;
}

.table-figures td {
    text-align: right;
}

.table-figures td.text {
    color: darkcyan;
    text-align: left;
}

.col-shade {
    background-color: #fafafa;
}

.agg-total td {
    color: darkcyan;
    font-weight: bold;
}


.front .calendar,
.not-front .calendar {
    color: #fff;
    padding: 7px;
    margin-top: -40px;
    background-color: rebeccapurple;
    border-radius: 5px;
    line-height: 18px;
}

.not-front .calendar {
    margin-top: 0;
}

.calendar.coral { background-color: lightcoral; }
.calendar .date-input { color: #fff; }
.calendar .date-input:hover { color: lightblue; }
.calendar i {
    font-size: 36px;
}

.calendar .body {
    margin-left: 10px;
    text-align: center;
}

.calendar .tdy {
    font-size: 14px;   
    font-weight: bold;
}

.calendar .wk {
    font-size: 12px;        
}

.stat-card {
    color: #fff;
    background-color: #ddd;
    text-align: center;
    margin: 5px 0 20px 0;
    padding: 15px 10px 10px;
    line-height: 18px;
    font-weight: bold;
    border-radius: 4px;
}

.stat-card .fig { font-size: 25px; font-weight: bold; }
.stat-card .txt { font-size: 11px;  }
.stat-card .plain { font-weight: normal; font-size: 10px; }
.stat-card .tag {
    float: right;
    padding: 2px;
    margin-top: -48px;
    margin-right: -7px;
    border-radius: 4px;
    background-color: indianred;
    font-weight: bold;
    font-size: 85%;
}

.stat-blue { background-color: lightsteelblue; }
.stat-green { background-color: darkseagreen; }
.stat-wood { background-color: burlywood; }
.stat-pink { background-color: lightcoral; }
.stat-yellow { background-color: khaki; }
.stat-sblue { background-color: skyblue; }

.panel-flat,
.panel-flat .list-group-item { 
    border-radius: 0; 
}

.panel-menu .list-group-item {
    border-left-width: 5px;
    border-left-color: none;
    border-top-color: #fff;
}

.panel-menu .list-group-item.active,
.panel-menu .list-group-item.active:first-child {
    background-color: transparent;
    border-left: solid 5px #428bca;
    border-top-color: #ddd;
    border-radius: 0;
}

.panel-menu .list-group-item.active:first-child {
    border-radius: 0;
    border-top-color: #fff;
    border-bottom-color: #ddd;
}

.panel-menu .list-group-item.active:hover {
    background-color: #eee;
    border-top-color: #ddd;
    font-weight: bold;
}

.panel-menu .list-group-item:not(.active) .txt {
    padding-left: 5px;
}

.panel-table .label { font-size: 12px; padding-top: 3px; }
.panel-table a:hover { text-decoration: none; }
.panel-table a:focus { border: none; }