body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.not-front {
    padding-top: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    font-size: 13px;
    max-width: 280px;
}

.btn,
.form-control {
    padding: 3px 5px;
    line-height: 22px;
    height: 30px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.jumbotron h1 {
    font-size: 32px;
    font-weight: bold;
    margin-top: -10px;
    padding-bottom: 10px;
}

.table-label {
    font-weight: normal;
    margin-top: -5px;
}

.panel-table {
    margin-bottom: 0;
}

.panel-table tr:first-child td {
    border-top: none;
}

.table th.lvsep,
.table td.lvsep {
    border-left: solid 1px #ddd;
}

.table-figures th {
    text-align: center;
}

.table-figures td:first-child {
    text-align: left;
}

.table-figures td {
    text-align: right;
}

.table-figures td.text {
    color: darkcyan;
    text-align: left;
}

.col-shade {
    background-color: #fafafa;
}

.agg-total td {
    color: darkcyan;
    font-weight: bold;
}


.front .calendar,
.not-front .calendar {
    color: #fff;
    padding: 7px;
    margin-top: -100px;
    background-color: rebeccapurple;
    border-radius: 5px;
    line-height: 18px;
}

.not-front .calendar {
    margin-top: 0;
}

.calendar i {
    font-size: 36px;
}

.calendar .body {
    margin-left: 10px;
    text-align: center;
}

.calendar .tdy {
    font-size: 14px;   
    font-weight: bold;
}

.calendar .wk {
    font-size: 12px;        
}